extends ../layout3

block content
		style.
			body{
				background: #f1f3f5;
			}
		br


		.col-md-2

		.col-md-8
			.displayConfirmation.text-center
				//- img(src='/img/homepage/check.png', alt='', style="max-width:60px;margin-bottom:30px;")
				h4.look Il semblerait y avoir un problème de connexion avec Facebook.

				p Cela peut être du à un problème de vérification de votre adresse email avec Facebook.
				p Nous sommes désolés de ce désagrément.
				//- p.ital
				//- 	b ATTENTION:
				//- 	|  Ne vous inquiétez pas si vous ne recevez rien pendant quelques jours. Il se peut qu'il n'y ait pas tout de suite de récompense correspondant à votre profil. Nous grandissons chaque jour (grâce à vous), et notre catalogue de récompense aussi !


		.col-md-2


