html
	body
		.authSection
			.cent
				h3 Oops
				p
					| To contribute to our causes, you must be connected.
				p
					a.btncharlysubmit(href='http://www.smilefocus.org/members/registerLang')  Sign-in
