extends layout

block content
	p Welcome to CyberHelp

	p if time put fonctionality by role and a please log in

	a(href='/teacher')
		button.btn.btn-primary(type="button") Teacher

	//- some layout with bootstrap

	
	
	//- .row 
	//- 	.col-md-8
	//- 		pre.text-center
	//- 			ul.list-unstyled
	//- 				li
	//- 					i the goal is to access my secrets
	//- 				li(style='color:blue')
	//- 					a(href='/#{lang}/secrets') >> My Secrets <<
	//- 	.col-md-2 