extends layout

block content

	p Welcome to CyberHelp

	if roles !== undefined
		each val in roles
			if val === 'super_admin'
				a(href='/#{lang}/superadmin')
					button.btn.btn-primary(type="button") Administrateur
			
			if val === 'director'
				a(href='/#{lang}/director')
					button.btn.btn-primary(type="button") Directeur

			if val === 'teacher'
				a(href='/#{lang}/teacher')
					button.btn.btn-primary(type="button") Professeur

	//- some layout with bootstrap

	
	
	//- .row 
	//- 	.col-md-8
	//- 		pre.text-center
	//- 			ul.list-unstyled
	//- 				li
	//- 					i the goal is to access my secrets
	//- 				li(style='color:blue')
	//- 					a(href='/#{lang}/secrets') >> My Secrets <<
	//- 	.col-md-2 